---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="Terms and Conditions" description="Terms and Conditions for Entryway Essentials.">
  <section class="py-24">
    <div class="max-w-3xl mx-auto">
      <h1 class="text-3xl md:text-5xl font-medium font-display text-base-900 leading-tight">Terms and Conditions</h1>
      <div class="prose prose-base md:prose-lg prose-base-600 mt-12">
        <p>Welcome to Entryway Essentials!</p>
        <p>These terms and conditions outline the rules and regulations for the use of Entryway Essentials's Website, located at entrywayessentials.com.</p>
        <p>By accessing this website we assume you accept these terms and conditions. Do not continue to use Entryway Essentials if you do not agree to take all of the terms and conditions stated on this page.</p>

        <h2>Cookies</h2>
        <p>We employ the use of cookies. By accessing Entryway Essentials, you agreed to use cookies in agreement with the Entryway Essentials's Privacy Policy.</p>

        <h2>License</h2>
        <p>Unless otherwise stated, Entryway Essentials and/or its licensors own the intellectual property rights for all material on Entryway Essentials. All intellectual property rights are reserved. You may access this from Entryway Essentials for your own personal use subjected to restrictions set in these terms and conditions.</p>
        <p>You must not:</p>
        <ul>
          <li>Republish material from Entryway Essentials</li>
          <li>Sell, rent or sub-license material from Entryway Essentials</li>
          <li>Reproduce, duplicate or copy material from Entryway Essentials</li>
          <li>Redistribute content from Entryway Essentials</li>
        </ul>

        <h2>Content Liability</h2>
        <p>We shall not be hold responsible for any content that appears on your Website. You agree to protect and defend us against all claims that is rising on your Website. No link(s) should appear on any Website that may be interpreted as libellous, obscene or criminal, or which infringes, otherwise violates, or advocates the infringement or other violation of, any third party rights.</p>

        <h2>Disclaimer</h2>
        <p>To the maximum extent permitted by applicable law, we exclude all representations, warranties and conditions relating to our website and the use of this website. Nothing in this disclaimer will:</p>
        <ul>
          <li>limit or exclude our or your liability for death or personal injury;</li>
          <li>limit or exclude our or your liability for fraud or fraudulent misrepresentation;</li>
          <li>limit any of our or your liabilities in any way that is not permitted under applicable law; or</li>
          <li>exclude any of our or your liabilities that may not be excluded under applicable law.</li>
        </ul>
        <p>The limitations and prohibitions of liability set in this Section and elsewhere in this disclaimer: (a) are subject to the preceding paragraph; and (b) govern all liabilities arising under the disclaimer, including liabilities arising in contract, in tort and for breach of statutory duty.</p>
        <p>As long as the website and the information and services on the website are provided free of charge, we will not be liable for any loss or damage of any nature.</p>
      </div>
    </div>
  </section>
</BaseLayout>
