<section class="bg-accent-50 border border-accent-100 p-8 rounded-3xl lg:p-16 my-24 shadow-sm">
  <div class="max-w-xl mx-auto text-center">
    <h2
      id="newsletter-heading"
      class="text-3xl font-display font-semibold text-base-900"
    >
      Sign up for <span class="italic text-accent-700 underline decoration-accent-200 underline-offset-4">curated</span> design tips.
    </h2>
    <p class="mt-4 text-sm text-base-600 leading-relaxed italic">
      Join 5,000+ readers and receive our weekly guide on organizational mastery and interior aesthetics.
    </p>
    <form action="https://api.follow.it/subscription-form/WG9qOW1Pcnh3YjRPQzJ4NnpraXc0NllUQW5memhnTlpUY2pTZGtRZ2FMVTNGRERFbFY2dlIwc0FnTXNNSkRKSXlRZDB5S3o3dGIvK2hvNUhPZXhqamJpSytPUkVwVFVrZlhIVWs2WlpWR2xPMkowS0c5bU4rMU5SREN4Y1hoTlV8eGErWXp1SjBMa0lwdDhJVGt5aU1DWjVHcWJKc2FjdW41T2VucE8yQnJzcz0=/8" method="post">
  </div>

  
</section>
